name: Delete
on:
  watch:
    types: started
  schedule:
    # - cron: "0 0 * * SUN"
    - cron: '0 0 * * *'

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete
        uses: GitRML/delete-workflow-runs@main
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: 1
